.calendar {
  &__time-slot {
    height: 60px;
    position: relative;
    border-bottom: 1px solid #eee;
  }

  &__red-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: red;

    & span {
      display: block;
      position: absolute;
      top: -4px;
      left: -6px;
      width: 10px;
      height: 10px;
      background: red;
      border-radius: 50%;
    }
  }
}
