.header {
  display: flex;
  height: 60px;
  padding: 0 10px;
  align-items: center;
  border-bottom: 1px solid $lines-color;

  &__title {
    display: flex;
    margin-right: auto;
  }

  &__title-text {
    font-size: 26px;
    line-height: 40px;
    font-weight: normal;
  }

  &__logo {
    width: 40px;
    height: 40px;
  }
}

.create-event-btn {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: $btn-shadow;
  font-size: 24px;
  line-height: 40px;
  color: orange;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease;

  &:hover {
    box-shadow: $btn-shadow-hover;
  }

  &:active {
    background: $lines-color;
  }
}

.navigation {
  &__today-btn {
    margin-left: 32px;
    padding: 0 15px;
    background: #fff;
    border: 1px solid $lines-color;
    border-radius: 4px;

    &:hover {
      background-color: #f1f3f4;
    }

    &:active {
      background-color: #0000001f;
    }
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
  }

  &__displayed-month {
    margin-left: 10px;
  }
}

.user {
  &__icon {
    width: 40px;
    height: 40px;
  }
}
